
@media (max-width: 768px) {
	.header {
		&__official{
			display: none;
		}
	}

	.promo{
		&__wrapper{
			align-items: center;
			text-align: center;
		}

		&__link{
			a {
				display: block;
			}
		}
	}

	.advantages {
		&__item{
			flex: 0 0 100%;
		}

		&__text {
			width: 289px;
			margin: 26px auto 0 auto;
		}
	}

	.title--left {
		font-size: 24px;
	}
}

@media (max-width: 576px) {
	.header{
		&__contacts {
			display: none;
		}
	}

	.promo {
		&__header {
			font-size: 30px;
		}

		&__subheader {
			font-size: 20px;
		}

		&__icon {
			font-size: 13px;
		}

		&__icons {
			justify-content: center;
		}
	}

	.title {
		font-size: 28px;
	}

	
	.title--left {
		font-size: 20px;
	}

	.advantages {
		padding: 50px 0 58px 0;
		&__icon {
			margin-top: 45px;
		}
	}

	.consultation{
		padding-top: 80px;
		&__descr {
			font-size: 14px;
			margin-top: 60px;
		}
	}

	.catalog {
		&__tab {
			width: 94px;
			font-size: 9px;
		}
	}

	.clients {
		&__item {
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}

		&__photo {
			margin-right: 0;
			margin-bottom: 20px;
		}

		&__info {
			max-width: 300px;
			width: 100%;
		}

		&__text {
			font-size: 15px;
		}
	}

	.footer {
		&__info {
			padding: 50px 0 30px 0;
		}

		&__addr {
			font-size: 17px;
		}
	}

	.modal {
		&__close {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 40px;
			line-height: 21px;
			color: $main-color;
			cursor: pointer;
		}
		&__subtitle {
			font-size: 15px;
			
		}

		&__descr {
			font-size: 12px;
		}
	}	
}